mlx-whisper
mlx-lm
mlx
pynput
sounddevice
numpy
pyobjc-framework-Quartz
pyobjc-framework-Cocoa
pyobjc-framework-ApplicationServices
pyobjc-framework-AVFoundation
tokenizers
huggingface-hub
rumps
webrtcvad
py2app
pytest
